.root {
    main-color: rgb(136, 186, 240);
    -fx-background-color: main-color;
}

.text-field {
    -fx-background-color: LIGHTGRAY;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: DARKGRAY;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color: LIGHTGREEN;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: RED;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: BLACK;
    -fx-background-radius: 1em;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}